<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <h1> 환희의 전화번호부 </h1>

    <div class="todos_top"><!--쓰기 구역-->
        <input class="pname" type="text">
        <input class="phone" type="text">
        <button onclick="uploadPost()" type="button"> 등록 </button>
    </div>

    <div class="todos_bottom"><!--출력 구역-->



    </div>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/todos.js" type="text/javascript"></script>

</body>
</html>